<?xml version="1.0"?>
<launch>
    <include file="$(find ur_gazebo)/launch/ur5_bringup.launch">
        <arg name="controllers" value="joint_state_controller joint_group_pos_controller"/>
        <arg name="stopped_controllers" value=""/>
        <arg name="transmission_hw_interface" value="hardware_interface/PositionJointInterface"/>
    </include>        
    <include file="$(find ur5_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="sim" value="true"/>
    </include>

    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
        args="-d $(find ur5_moveit_tutorials)/config/moveit_servo.rviz" output="screen">
        <rosparam command="load" file="$(find ur5_moveit_config)/config/kinematics.yaml"/>
    </node>

    <node name="move_at_bringup" pkg="ur5_moveit_tutorials" type="joint_group_pos_ctrl_wrapper.py"
        respawn="false" output="screen" />

    <!-- Include servo -->
    <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
        <rosparam command="load" file="$(find ur5_moveit_tutorials)/config/servo_params.yaml"/>
    </node>

</launch>